:root {
    --light-color: #ffffff;
    --light-gray-color: #cacaca;
    --gray-color: #555555;
    --dark-gray-color: #444444;
    --dark-color: #222222;
    --primary-color: #CE0843;
    --transition: 350ms;
    --light-shadows: #00000038;
    --heavy-shadows: #00000078;
}

@media (max-width: 1440px) {
    html {
        font-size: 13px;
    }
    .l-box, .box, .s-box, .s-box--long {
        border-radius: 25px;
        border: 5px solid var(--dark-gray-color);
    }
    .l-box {
        max-width: 679px;
    }
    .box {
        max-width: 328px;
    }
    .s-box {
        max-width: 158.72px;
    }
    .s-box--long {
        max-width: 328px;
    }
    .frame-box {
        max-width: 328px;
    }
    #main {
        .m-content {
            max-width: 1024px;
            .m-content__structure {
                #small-boxes-group {
                    margin-top: 0;
                    #social-media-links {
                        .social__container {
                            li {
                                a {
                                    width: 45px;
                                    height: 45px;
                                }
                            }
                        }
                    }
                    #clock {
                        h2 {
                            font-size: 4em;
                        }
                    }
                }
                #projects-box {
                    .projects__inner:last-child {
                        .highlight-projects-bg {
                            width: 1050px;
                        }
                    }
                }
            }
        }
    }
    @keyframes smothTranslation {
        0% {
            transform: rotateZ(-35deg) translate(55px, -215px);
        }
        100% {
            transform: rotateZ(-35deg) translate(-520px, -215px);
        }
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 1080px) {
    .l-box {
        min-width: 679px;
    }
    #main {
        .m-content {
            max-width: 681px;
        }
    }
}

@media (max-width: 752px) {
    #main {
        padding: 0;
        .m-content {
            max-width: 328px;
            .m-content__structure {
                #about-box.m-content__inner {
                    .m-content__segment {
                        width: 100%;
                    }
                }
                #projects-box {
                    .projects__inner:first-child {
                        width: 100%;
                    }
                    .projects__inner:last-child {
                        width: 100%;
                    }
                }
            }
        }
    }
    .l-box {
        min-width: 328px;
        max-height: 0;
    }
    .box {
        max-height: 0;
    }
    .s-box--long {
        max-height: 0;
    }
    .l-box, .box, .s-box, .s-box--long {
        border-radius: 15px;
        border: 4px solid var(--dark-gray-color);
    }
    .headline {
        margin: 0;
        padding: 2rem;
    }
}