@media (max-width: 1440px) {
    html {
        font-size: 13px;
    }
    .l-box, .box, .s-box, .s-box--long {
        border-radius: 25px;
        border: 5px solid var(--dark-gray-color);
    }
    .l-box {
        max-width: 679px;
    }
    .box {
        max-width: 328px;
    }
    .s-box {
        max-width: 158.72px;
    }
    .s-box--long {
        max-width: 328px;
    }
    .frame-box {
        max-width: 328px;
    }
    #main {
        .m-content {
            max-width: 1024px;
        }
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 1080px) {
    .l-box {
        min-width: 679px;
    }
    #main {
        .m-content {
            max-width: 681px;
        }
    }
}

@media (max-width: 752px) {
    #main {
        padding: 0;
        .m-content {
            max-width: 328px;
            .m-content__structure {
                #about-box.m-content__inner {
                    .m-content__segment {
                        width: 100%;
                    }
                }
                #projects-box {
                    .projects__inner {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .l-box {
        min-width: 328px;
        max-height: 0;
    }
    .box {
        max-height: 0;
    }
    .s-box--long {
        max-height: 0;
    }
    .l-box, .box, .s-box, .s-box--long {
        border-radius: 15px;
        border: 4px solid var(--dark-gray-color);
    }
}